@CHARSET "ISO-8859-1";
body{
	background-image: url("/edsa-cnous-web/images/background/IMG_9857.jpg");
	background-size: 90%;
	background-repeat:  no-repeat;
	background-position: 100% 0% ;
	
}